@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;

}
.mygrid-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'nav aside  section section section'
    'nav aside  main main main'
    'nav aside  main main main'
    'nav aside  main main main'
  ;
  gap: 2px;
  background-color: #f7f7f7;
}

  nav{grid-area: nav;background-color: #fff;}
  aside {grid-area: aside;background: #fff;
     position:relative;
     display: flex;
     flex-direction: column;
     width:60%;
     margin: 20px 200px 20px 0px;
     left: -9%;
     min-height: 400px;
     justify-content: center;
     align-items: center;
     z-index: 0;
     border-radius: 24px;
     box-shadow: 0 4px 8px 0 #4070f4, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    aside::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 36%;
      width: 100%;
      border-radius: 24px 24px 0 0px;
      background-color: #4070f4;
    }
  .section { grid-area: section; background-color: #fff;
    position: fixed;
    width:60%;
    height:20%;
    left:39%;
    top:1%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 #4070f4, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   legend{
    background: #4070f4;
    border-radius: 3px;
    padding: 2px;
    color: #fff;
  }
  .main { grid-area: main; background-color: #fff;
    position: fixed;
    width:60%;
    height:75%;
    left:39%;
    top:22%;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border: 3px solid #fff;
    padding: 1%;
    overflow-y: scroll;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #4070f4, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
  .main-container{
    position:relative;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
   }
   .image{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom:4%;
   }
  .image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  aside .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

  }
  aside .text-data .name{
    font-size: 25px;
    font-weight: 550;
  }
  aside .text-data .job{
    font-size: 18px;
    font-weight: 300;
  }
  aside .media-button{
    display: flex;
    align-items: center;
    margin-top:15px ;
    transition: all 0.2s;
  }
  .media-button .link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    font-size: 18px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4070f4;
    background: var(--color);
    color: #fff;
    text-decoration: none;
  }
  aside .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .buttons .button{
    border:1px solid #2196f3;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 400;
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
    transition: all 0.1s ease;
  }
  .buttons .button:hover{
    color: #fff;
    background-color:#0e4bf1;
    border:1px solid #0e4bf1;
  }


  .main-card li{
    position:relative;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 15px black;
    margin-right: 50px;
    padding: 1px;
    margin: 10px;
    text-align: center;
    list-style: none;
  }
 

























































/*

*/
 /*
  .myflex-container {
    display: flex;
    flex-flow: row wrap;
    font-size: 30px;
    text-align: center;
  }
  .myflex-item-head {
    background-color: #adadad;
    padding: 10px;
    flex: 100%;
    
  }
  .myflex-item-foot {
    background-color: #adadad;
    padding: 10px;
    flex: 70%;
    
  }
  .myflex-item-left {
    background-color: #d6d1d1;
    padding:10px;
    flex: 28%;
    margin: 1%;
  }

  
  .myflex-item-right {
    background-color: dodgerblue;
    padding:10px;
    flex: 70%;
    margin: auto;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout 
  @media (max-width: 720px) {
    .myflex-item-head, .myflex-item-foot{
        flex: 100%;
    }
     .myflex-item-left, .myflex-item-right {
      flex: 100%;
    }
  }
*/

